.about {
    display: flex;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30%;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 100%;
}

.main {
    display: flex;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 100%;
}

.content {
    width: 100%;
    margin: -63%;
    padding: 0%;
    height: 40%;
    display: flex;
    font-size: 1em;
    background-color: #19a78a;
    color: #e3e3e3;
}

.about-image img {
    width: 90%;
    height: 65%;
}

.content ul {
    margin: 0px;
}

.content ul li {
    margin-top: 20px;
    text-align: left;
    margin-left: 5%;
}

h2 {
    font-size: 2vw;
}