.contact {
    display: flex;
    width: 90%;
    height: 500px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.contact-info {
    width: 60%;
    margin: auto;
    height: 250px;
    background-color: antiquewhite;
    border-radius: 13px;
    padding: 15px;
}

.contact-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    grid-gap: 30px;
}

.contact-grid a {
    background-color: teal;
    color: white;
}