/* .project {
    display: flex;
    position: absolute;
} */

/* .card-deck {
    display: flex;
} */

.project {
    display: grid;
    grid-template-columns: 435px;
    grid-gap: 30px;
    justify-content: space-around;
    width: 70%;
    padding: 10%;
}

.card {
    display: flex;
    flex-direction: column;
    height: 18rem;
    margin: 10px;
    padding: 10px;
    width: 25rem;
}

.card-body {
    display: flex;
    background-color: gold;
}

.card-img-top {
    display: flex;
    height: 14rem;
    margin: auto;
    width: 10rem;
}

.card-title {
    display: flex;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif
}

.card-text {
    display: flex;
    color: black;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
}

.card-footer {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    background-color: teal;
}

/* .text-muted{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
} */